flows.json
[
    {
        "id": "d736d0db.98529",
        "type": "tab",
        "label": "Tugas Node-RED 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fe7c9d5a.6e23e",
        "type": "mqtt in",
        "z": "d736d0db.98529",
        "name": "",
        "topic": "esp32/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "97f94b53.dc4918",
                "e980b174.95a15"
            ]
        ]
    },
    {
        "id": "bc1103c9.dceb1",
        "type": "mqtt in",
        "z": "d736d0db.98529",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "84e4f6c4.f9bc68",
                "a261341a.832c48"
            ]
        ]
    },
    {
        "id": "4c9b9e56.8fdfa",
        "type": "mqtt in",
        "z": "d736d0db.98529",
        "name": "",
        "topic": "esp32/led",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "57b7de15.c8ba8"
            ]
        ]
    },
    {
        "id": "84e4f6c4.f9bc68",
        "type": "ui_chart",
        "z": "d736d0db.98529",
        "name": "",
        "group": "376e5248.b4c57e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 490,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "97f94b53.dc4918",
        "type": "ui_gauge",
        "z": "d736d0db.98529",
        "name": "",
        "group": "170e1bcc.e2edb4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "57b7de15.c8ba8",
        "type": "function",
        "z": "d736d0db.98529",
        "name": "",
        "func": "var temp1= msg.payload[0];\nvar result = temp1\nvar status\nif(temp1==0){\n    status = \"LED OFF\"\n}else{\n    status = \"LED ON\"\n}\nresult = status\nvar result1 = {payload:result};\nreturn[result1];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "3279f364.1b605c"
            ]
        ]
    },
    {
        "id": "3279f364.1b605c",
        "type": "ui_text",
        "z": "d736d0db.98529",
        "group": "ae7c1bff.208018",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "67779ee0.fd63e",
        "type": "mqtt out",
        "z": "d736d0db.98529",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 330,
        "y": 380,
        "wires": []
    },
    {
        "id": "d9aa7729.ea5bc8",
        "type": "ui_button",
        "z": "d736d0db.98529",
        "name": "",
        "group": "ae7c1bff.208018",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "change",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "67779ee0.fd63e"
            ]
        ]
    },
    {
        "id": "a261341a.832c48",
        "type": "ui_gauge",
        "z": "d736d0db.98529",
        "name": "",
        "group": "376e5248.b4c57e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "e980b174.95a15",
        "type": "ui_chart",
        "z": "d736d0db.98529",
        "name": "",
        "group": "170e1bcc.e2edb4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.8.116",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "376e5248.b4c57e",
        "type": "ui_group",
        "name": "Suhu",
        "tab": "f26f4abf.84bf38",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "170e1bcc.e2edb4",
        "type": "ui_group",
        "name": "Kelembapan",
        "tab": "f26f4abf.84bf38",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ae7c1bff.208018",
        "type": "ui_group",
        "name": "LED",
        "tab": "f26f4abf.84bf38",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f26f4abf.84bf38",
        "type": "ui_tab",
        "name": "[424967] Tugas 2_Imam",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]